.card {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.card__img {
    width: 100%;
}

.card__title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.card__date {
    font-size: 1.1rem;
    color: #d1d5da;
    font-weight: 600;
}
