.header {
    padding: 1.2rem 2.4rem;
    background-color: #333;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    height: 4rem;
}

.search-form {
    flex-grow: 1;

    display: flex;
    justify-content: center;
}

.search-form__field {
    padding: 0.6rem;
    font-size: 1.5rem;
    font-family: inherit;

    border: 1px solid #444d56;
    background-color: #121212;
    color: #444d56;

    outline: none;

    width: 40%;
}

.favourites-button {
    background-color: #4ca3fc;
    text-decoration: none;
    padding: 1.2rem 2.4rem;
    outline: none;
    border: none;
    border-radius: 4px;

    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.favourites-button ion-icon {
    color: #fff;
    font-size: 2rem;
}

.favourites-button__text {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: #fff;
    font-family: inherit;

    cursor: pointer;
}
